* {
  margin: 0;
  padding: 0;
  
}
body, html, #root {
  height: 100%;
}
.App {
  text-align: center;
  background-color: pink;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
  height: 100%;
 
  
}
.TextBox {
  text-align: center;
}

.EditButton{
  color: pink;
}

.nav-container > * {
    text-decoration: plum;
    color: black;
    padding: 2px;

}
.nav-container{
  background-color:#c5ecfc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
.TodoButtons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.TodoBox{
  border: black;
  border-width: 20px;
  

}
.ListItems{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}